<script lang="ts">
    import { AceEditor } from "svelte-ace";
    import "brace/mode/yaml";
    import "brace/theme/chrome";
    let config = 
"screens:\n\
    xs: { width: 640, media: '(max-width: 640px)' }\n\
    sm: { width: 768, media: '(max-width: 768px)' }\n\
    md: { width: 1024, media: '(max-width: 1024px)' }\n\
    lg: { width: 1280, media: '(max-width: 1280px)' }\n\
    xl: { width: 1536, media: '(max-width: 1536px)' }\n\
transforms: ''\n\
quality:\n\
    1x: 80\n\
    2x: 40\n\
formats:\n\
    - avif\n\
    - webp\n\
    - jpeg\n\
attributes:\n\
    loading: lazy\n\
    preload: ''\n\
fallback_transform: medium-80\n\
url_generation_strategy: combined_image_style\n\
multipliers:\n\
    - 1x\n\
    - 2x\n\
";
    let view_modes =
"hero:\n\
    label: Hero\n\
    sizes: 'sm:100vw md:50vw lg:50vw xl:50vw'\n\
    aspect_ratios: '12x7 12x7 12x7 12x7'\n\
    attributes: { loading: eager }\n\
text_image:\n\
    label: 'Text Image'\n\
    sizes: 'sm:100vw md:100vw lg:50vw xl:50vw'\n\
    aspect_ratios: '12x7 12x7 12x7 12x7'\n\
    attributes: { loading: eager }\n\
teasers:\n\
    label: Teasers\n\
    sizes: 'sm:100vw md:50vw lg:50vw xl:50vw'\n\
    aspect_ratios: '12x7 12x7 12x7 12x7'\n\
large:\n\
    label: Large\n\
    sizes: 'md:100vw lg:100vw xl:100vw'\n\
    aspect_ratios: '12x7 12x7 12x7'\n\
medium:\n\
    label: Medium\n\
    sizes: 'sm:100vw md:100vw lg:50vw xl:50vw'\n\
    aspect_ratios: '12x7 12x7 12x7 12x7'\n\
    attributes: { loading: eager }\n\
small:\n\
    label: Small\n\
    sizes: 'sm:100vw md:50vw lg:50vw xl:50vw'\n\
    aspect_ratios: '12x7 12x7 12x7 12x7'";
    </script>
  
  <div class="grid grid-cols-2 gap-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Config</h2>
            <AceEditor
            on:selectionChange={(obj) => console.log(obj.detail)}
            on:paste={(obj) => console.log(obj.detail)}
            on:input={(obj) => console.log(obj.detail)}
            on:focus={() => console.log('focus')}
            on:documentChange={(obj) => console.log(`document change : ${obj.detail}`)}
            on:cut={() => console.log('cut')}
            on:cursorChange={() => console.log('cursor change')}
            on:copy={() => console.log('copy')}
            on:init={(editor) => console.log(editor.detail)}
            on:commandKey={(obj) => console.log(obj.detail)}
            on:changeMode={(obj) => console.log(`change mode : ${obj.detail}`)}
            on:blur={() => console.log('blur')}
            width='100%'
            height='300px'
            lang="yaml"
            theme="chrome"
            value={config} />
          </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">View Modes</h2>
            <AceEditor
            on:selectionChange={(obj) => console.log(obj.detail)}
            on:paste={(obj) => console.log(obj.detail)}
            on:input={(obj) => console.log(obj.detail)}
            on:focus={() => console.log('focus')}
            on:documentChange={(obj) => console.log(`document change : ${obj.detail}`)}
            on:cut={() => console.log('cut')}
            on:cursorChange={() => console.log('cursor change')}
            on:copy={() => console.log('copy')}
            on:init={(editor) => console.log(editor.detail)}
            on:commandKey={(obj) => console.log(obj.detail)}
            on:changeMode={(obj) => console.log(`change mode : ${obj.detail}`)}
            on:blur={() => console.log('blur')}
            width='100%'
            height='300px'
            lang="yaml"
            theme="chrome"
            value={view_modes} />
          </div>
    </div>

</div>