<script lang="ts">
    import { onMount } from "svelte";
    export let view_mode = "hero";
    export let display: "html" | "payload" = "html";

    interface ViewModeData {
        payload: string;
        html: string;
    }
    interface RiftResponse {
        [key: string]: ViewModeData;
    }

    const endpoint = "/rift-ui/demo-markup";

    let images : RiftResponse = {};
    let image_data = undefined;
    let view_mode_list: string[] = [];

    $: image_data = (view_mode in images) ? images[view_mode] : undefined;

    $: view_mode_list = Object.keys(images);

    onMount(async function () {
        const response = await fetch(endpoint);
        const data = await response.json();
        if (data) {
            images = data['view_modes'];
        }
    });
</script>
{#if (images !== undefined && images[view_mode] !== undefined) }
<div class="card card-compact bg-base-200 pt-10 shadow-xl">
    <figure class="bg-gradient-to-b from-red-500 to-red-800">
        {@html images[view_mode][display] }
    </figure>
    <div class="card-body">
        <h2 class="card-title">{ view_mode }</h2>
    </div>
</div>
{:else}
<div class="card card-compact bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title">{ view_mode }</h2>
    </div>
</div>
{/if}