<script lang="ts">
    export let picture: string = "";
    export let label: string = "";
</script>
<div class="card card-compact bg-base-200 pt-10 shadow-xl">
    <figure class="bg-gradient-to-b from-red-500 to-red-800">
        {@html picture }
    </figure>
    <div class="card-body">
        <h2 class="card-title">{ label }</h2>
    </div>
</div>