<script lang="ts">
    import DrupalImage from "./DrupalImage.svelte";
    import Picture from "./Picture.svelte";
    import { onMount } from "svelte";
    interface ViewModeData {
        placeholder: string;
        html: string;
    }
    interface RiftResponse {
        [key: string]: ViewModeData;
    }

    const endpoint = "rift";

    let images: RiftResponse = {};
    let image_data = undefined;
    let view_mode_list: string[] = [];

    $: image_data = view_mode in images ? images[view_mode] : undefined;

    $: view_mode_list = Object.keys(images);

    onMount(async function () {
        const response = await fetch(endpoint);
        const data = await response.json();
        if (data) {
            images = data["view_modes"];
        }
    });

    const MAX_COLUMNS = 5;

    let show_placeholder: boolean = true;
    let show_image: boolean = true;
    let view_mode: string = "medium";

    let container_width: number = 960;
    let container_is_full_width: boolean = true;

    let container_style = "";

    $: container_style = recalculateContainerWidth(
        container_is_full_width,
        container_width,
    );

    function recalculateContainerWidth(
        container_is_full_width: boolean,
        container_width: number,
    ) {
        if (container_is_full_width !== true) {
            return `width: ${container_width}px;`;
        }
        return "";
    }
    let columns = 3;
</script>

<div class="wrapper container mx-auto">
    <div class="card mb-8 mt-8">
        <div class="card-body bg-base-300">
            <h2 class="card-title">Configuration</h2>
            <div class="container-config grid grid-cols-2 gap-4">
                <div>
                    <div class="grid grid-cols-2 gap-2">
                        <div>
                            <div class="form-control bg-base-100 mb-4 mt-10">
                                <label class="label cursor-pointer">
                                    <span class="label-text"
                                        >Use full width</span
                                    >
                                    <input
                                        type="checkbox"
                                        class="checkbox checkbox-primary"
                                        bind:checked={container_is_full_width}
                                    />
                                </label>
                            </div>
                            <label class="form-control w-full max-w-xs">
                                <div class="label">
                                    <span class="label-text"
                                        >Container width in pixel</span
                                    >
                                </div>
                                <input
                                    type="number"
                                    min="640"
                                    max="9840"
                                    step="100"
                                    placeholder="Type here"
                                    class="input input-bordered w-full max-w-xs"
                                    bind:value={container_width}
                                    disabled={container_is_full_width}
                                />
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="form-control w-full max-w-xs mb-4">
                        <div class="label">
                            <span class="label-text"
                                >Select view mode</span
                            >
                        </div>
                        <select
                            bind:value={view_mode}
                            class="select select-bordered"
                        >
                            {#each view_mode_list as option}
                                <option value={option}>{option}</option>
                            {/each}
                        </select>
                    </label>
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text"
                                >Number of columns to simulate</span
                            >
                        </div>
                        <input
                            type="range"
                            min="1"
                            max={MAX_COLUMNS}
                            bind:value={columns}
                            class="range"
                            step="1"
                        />
                        <div class="flex w-full justify-between px-2 text-xs">
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mockup-browser bg-base-300 border">
    <div class="mockup-browser-toolbar">
        <div class="input">https://example.com</div>
    </div>
    <div class="bg-base-200">
        <div class="grid grid-cols-1 gap-x-0 gap-y-8" style={container_style}>
            <div class="grid grid-cols-{columns} gap-4">
                {#each { length: columns } as _, i}
                    <Picture picture={image_data?.html} label={view_mode} />
                {/each}
            </div>
        </div>
        <div class="bg-base-200 flex justify-center px-4 py-16">...</div>
    </div>
</div>
