@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply bg-blue-600 text-white;
}
.btn-info {
    @apply bg-indigo-100;
}

.btn-warning {
    @apply bg-amber-200;
}

.btn-success {
    @apply bg-teal-100;
}

.btn-add {
    @apply btn-neutral max-w-md w-full;
}

.form-row {
    @apply grid gap-2 grid-cols-4 mb-1;
}

.form-row--add-more {
    @apply grid gap-2 grid-cols-1 mb-1 pt-2;
}
.highlight-on-interaction {
    @apply hover:bg-amber-100 focus:bg-amber-100 active:bg-amber-100;
}
.form-section {
    @apply p-2 mb-6;
}
.form-section-title {
    @apply font-bold;
}