<script lang="ts">
  import FormActions from "./lib/partials/FormActions.svelte";
  import ViewModesList from "./lib/partials/ViewModesList.svelte";

  import MultiplierList from "./lib/partials/MultiplierList.svelte";
  import FormatsList from "./lib/partials/FormatsList.svelte";
  import ScreensList from "./lib/partials/ScreensList.svelte";
  import AttributesList from "./lib/partials/AttributesList.svelte";
  import MainConfig from "./lib/partials/MainConfig.svelte";
  import AspectRatioList from "./lib/partials/AspectRatioList.svelte";
  import MiscConfig from "./lib/partials/MiscConfig.svelte";
	import { Toaster } from 'svelte-french-toast';

	import {
    attributes,
    screens,
    multipliers,
    formats,
    aspect_ratios,
    drupalSettings,
    viewModes,
    isScreensDirty
  } from "./lib/store";

</script>

<form action="#" on:submit|preventDefault class="join join-vertical w-full">
  
  <div class="collapse collapse-arrow bg-slate-50 border border-base-200 mb-6">
    <input type="checkbox" checked />
    <div class="collapse-title text-xl bg-slate-200 font-medium">
      RIFT Settings <span class="font-thin">({$screens.length} screens, {$formats.length} formats, {$multipliers.length} multipliers)</span>
    </div>
    <div class="collapse-content">
      <div class="form">
        <MainConfig bind:drupalSettings={$drupalSettings} />
        <AspectRatioList {aspect_ratios} />
        <ScreensList {screens} />
        <MultiplierList {multipliers} />
        <FormatsList {formats} drupalSettings={$drupalSettings} />
        <AttributesList bind:attributes={$attributes} />
        <MiscConfig bind:drupalSettings={$drupalSettings} />
      </div>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-slate-50 border border-base-200">
    <input type="checkbox" checked />
    <div class="collapse-title text-xl bg-slate-200 font-medium">View Modes <span class="font-thin">({$viewModes.length})</span></div>
    <div class="collapse-content">
      {#if $isScreensDirty }
        <div class="p-2">
          <div role="alert" class="alert alert-warning">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 shrink-0 stroke-current"
              fill="none"
              viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <span>Configuration changes detected that could affect view modes. Please save this form before you can adjust RIFT View Modes.</span>
          </div>
        </div>
      {:else}
        <ViewModesList />
      {/if}
    </div>
  </div>
  <Toaster />
  <div class="btm-nav bg-slate-200 z-50">
    <FormActions />
  </div>
  
</form>
