<script>
        import {isScreensDirty} from "../store"
        export let aspect_ratios;
        function addItem() {
                var l = $aspect_ratios.length;
                $aspect_ratios[l] = { id: l + 1, value: ""};
                isScreensDirty.set(true)
        }

        function removeItem(id) {
                $aspect_ratios = $aspect_ratios.filter(function(value, index, arr){ 
                        if (value.id != id) return value;
                });
                isScreensDirty.set(true)
        }
</script>
<div class="form-section">
        <div class="form-row form-section-title">
                <div>Aspect Ratio</div>
                <div></div>
                <div></div>
                <div>Action</div>
        </div>
                {#each $aspect_ratios as item}
                <div class="form-row highlight-on-interaction">
                        <input class="input input-bordered input-sm" type="text" 
                                bind:value={item.value} 
                                on:change={() => {isScreensDirty.set(true)}}
                                />
                        <div></div>
                        <div></div>
                        <div>
                                <button class="btn btn-warning btn-sm btn-square" on:click={() => removeItem(item.id)}
                                        aria-label="Remove"
                                >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                      </svg>              
                                </button>
                        </div>
                </div>
                {/each}
                
        <div class="form-row--add-more">
                <button class="btn btn-add btn-xs" on:click={addItem}
                        >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                              </svg>
                              
                              Add aspect ratio</button>
        </div>
</div>
