<script>
        import AttributeItem from "./AttributeItem.svelte";

        export let attributes;
        function addItem() {
                var l = attributes.length;
                attributes[l] = { id: l + 1, name: "foo", value: "bar" };
        }

        function removeItem(id) {
                attributes = attributes.filter(function (value, index, arr) {
                        if (value.id != id) return value;
                });
        }
</script>

<div class="form-section">
        <div class="form-row form-section-title">
                <div class="col-span-4">Custom Attributes</div>
                <div>Name</div>
                <div>Value</div>
                <div></div>
                <div>Action</div>
        </div>

        {#if attributes.length}
                {#each attributes as item}
                        <AttributeItem bind:attributes bind:item />
                {/each}
        {/if}
        <div class="form-row--add-more">
                <button class="btn btn-add btn-xs" on:click={addItem}>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-6"
                        >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 4.5v15m7.5-7.5h-15"
                                />
                        </svg>

                        Add attribute</button
                >
        </div>
</div>
