<script>
    import Select from "./Select.svelte";

        
        export let formats;
        export let drupalSettings;

        function addItem() {
                var l = $formats.length;
                $formats[l] = { id: l + 1, format: ""};
        }

        function removeItem(id) {
                $formats = $formats.filter(function(value, index, arr){ 
                        if (value.id != id) return value;
                });
        }
</script>
<div class="form-section">
        <div class="form-row form-section-title">
                <div>File Format</div>
                <div></div>
                <div></div>
                <div>Action</div>
        </div>
                {#each $formats as item}
                <div class="form-row highlight-on-interaction">
                        <Select bind:selected={item.format} options={drupalSettings.app_config.formats} />
                        <div></div>
                        <div></div>
                        <button class="btn btn-warning btn-sm btn-square" on:click={() => removeItem(item.id)}
                                aria-label="Remove"
                        >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                              </svg>              
                        </button>
                </div>
                {/each}
                
        <div class="form-row--add-more">
                <button class="btn btn-add btn-xs" on:click={addItem}
                        >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                              </svg>
                              
                              Add format</button>
        </div>
</div>
