<script lang="ts">
	import toast from 'svelte-french-toast';

    import {
        transformAspectRatiosToStore,
        transformConfigToStore,
        screens,
        transformViewModesToStore,
        drupalSettings,
        isSyncing,
        multipliers,
        viewModes,
        attributes,
        formats,
        isScreensDirty,
        aspect_ratios,
    } from "../../lib/store";

    let helpDialogId = "riftDialogHelp" + Math.random();

    const openDialog = function () {
        const dialog = document?.getElementById(
            helpDialogId,
        ) as HTMLDialogElement;
        dialog.showModal();
    };

    const loadFreshConfigFromDrupal = async function () {
        isSyncing.set(true);
        const res = await fetch(`/api/rift`, {credentials: "include"});
        const incomingDrupalSettings = await res.json();
        if (incomingDrupalSettings.config) {
            drupalSettings.set(incomingDrupalSettings);
            transformAspectRatiosToStore(incomingDrupalSettings.aspect_ratios ?? []);
            transformConfigToStore(incomingDrupalSettings.config);
            const viewModeconfig = incomingDrupalSettings.view_modes ?? [];
            transformViewModesToStore($screens, viewModeconfig);
            toast.success('Configurations loaded.', {
                duration: 6000
            });
            isScreensDirty.set(false);
        }
        else {
            toast.error('Failed to load configurations.')
        }
        isSyncing.set(false);
    };

    const handleSaveValues = async function () {
        let payload = $drupalSettings;
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        const res = await fetch(`/api/rift/update`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(payload),
            headers: myHeaders,
        })
        .then(() => {
            toast.success('Saved configurations.', {duration: 6000})
        })
        loadFreshConfigFromDrupal();
    };
    loadFreshConfigFromDrupal();

    multipliers.subscribe((value) => {
        // should update drupalSettings.config.multipliers
        // should update drupalSettings.config.quality
        $drupalSettings["config"]["multipliers"] = value.map(
            (v) => v.multiplier,
        );
        let quality = {};
        value.map((v) => {
            quality[v.multiplier] = v.quality;
        });
        $drupalSettings["config"]["quality"] = quality;
    });

    screens.subscribe((value) => {
        // should update drupalSettings.config.screens
        let s = {};
        value.map((v) => {
            s[v.name] = {
                media: v.media,
                width: v.width,
            };
        });
        $drupalSettings["config"]["screens"] = s;
    });

    formats.subscribe((value) => {
        // should update drupalSettings.config.formats
        $drupalSettings["config"]["formats"] = value.map((v) => v.format);
    });

    aspect_ratios.subscribe((value) => {
        // should update drupalSettings.aspect_ratios
        $drupalSettings["aspect_ratios"] = value.map((v) => v.value);
    });

    attributes.subscribe((value) => {
        // should update drupalSettings.config.attributes
        let attrib = {};
        value.map((v) => {
            attrib[v.name] = v.value;
        });
        $drupalSettings["config"]["attributes"] = attrib;
    });

    viewModes.subscribe((value) => {
        // should update drupalSettings.view_modes
        let view_modes = {};
        value.map((v) => {
            let attributes = {};
            let hasAttributes = false;
            if (v.attributes !== undefined) {
                v.attributes.map((v) => {
                    hasAttributes = true;
                    attributes[v.name] = v.value;
                });
            }
            const valid_sizes = v.sizes.filter((n) => n.enabled);
            if (valid_sizes.length > 0) {
                view_modes[v.key] = {
                    aspect_ratios: valid_sizes
                        .map((v) => v.aspect_ratio)
                        .join(" "),
                    attributes,
                    fallback_transform: v.fallback_transform,
                    label: v.label,
                    sizes: valid_sizes
                        .map((v) => `${v.screen_name}:${v.width}`)
                        .join(" "),
                };
            } else {
                view_modes[v.key] = {
                    aspect_ratios: "",
                    attributes,
                    label: v.label,
                    sizes: "",
                    fallback_transform: "",
                };
            }
            if (!hasAttributes) {
                delete view_modes[v.key]["attributes"];
            }
        });
        $drupalSettings["view_modes"] = view_modes;
    });
</script>

<dialog id={helpDialogId} class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                >✕</button
            >
        </form>
        <h3 class="text-lg font-bold">Help!</h3>
        <p class="py-4">
            Please checkout full guide on <a
                href="https://www.drupal.org/docs/extending-drupal/contributed-modules/contributed-module-documentation/responsive-image-formatter-tools-rift/rift-configuration-reference"
                >RIFT Configuration Reference</a
            > at Drupal.org
        </p>
    </div>
</dialog>

<div class="form">
    <div class="form-row">
        <button
            class="btn btn-primary"
            on:click={() => handleSaveValues()}
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"
                />
            </svg>

            <span class="btm-nav-label">Save</span>
        </button>
        <div></div>
        <button
            class="btn btn-info"
            on:click={() => openDialog()}
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
            </svg>
            <span class="btm-nav-label">Help</span>
        </button>
        <div class="tooltip" data-tip="Reload form with original configuration stored in Drupal.">
            
        <button
        disabled={$isSyncing}
        class="btn btn-warning"
        on:click={() => loadFreshConfigFromDrupal()}
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
            />
        </svg>

        <span class="btm-nav-label">Reset</span>
    </button>
        </div>
    </div>
</div>
