<script>
    import Select from "./Select.svelte";

        export let drupalSettings;
        
</script>

<div class="form-section">
        <div class="form-row highlight-on-interaction">
                <div class="form-section-title col-span-4 md:col-span-2">RIFT Media Source Plugin <span class="font-thin">(Input processor)</span></div>
                <div class="col-span-2">
                        <Select bind:selected={drupalSettings.media_source} options={drupalSettings.app_config.media_source} />
                </div>
        </div>
        <div class="form-row highlight-on-interaction">
                <div class="form-section-title col-span-4 md:col-span-2">RIFT Source Plugin <span class="font-thin">(Output Processor)</span></div>
                <div class="col-span-2">
                        <Select bind:selected={drupalSettings.source} options={drupalSettings.app_config.source} />
                </div>
        </div>
</div>