<script>
        export let drupalSettings;
</script>

<div class="form-section">
        <div class="form-row highlight-on-interaction">
                <div class="form-section-title col-span-4 md:col-span-2">transforms</div>
                <input
                        class="input input-bordered input-sm col-span-4 md:col-span-2"
                        type="text"
                        bind:value={drupalSettings.config.transforms}
                />
                <div></div>
                <div></div>
        </div>
        <div class="form-row highlight-on-interaction">
                <div class="form-section-title col-span-4 md:col-span-2">fallback_transform</div>
                <input
                        class="input input-bordered input-sm col-span-4 md:col-span-2"
                        type="text"
                        bind:value={drupalSettings.config.fallback_transform}
                />
                <div></div>
                <div></div>
        </div>
</div>