<script>
    export let options = {};
    export let selected = undefined;
    export let classes = "select select-bordered select-sm w-full max-w-xs";
    let selectOptions = [];
    $: selectOptions = mapOptionsToSelectOptions(options);
    
    function mapOptionsToSelectOptions(options) {
        let tempOptions = [];
        Object.keys(options).forEach(element => {
            tempOptions.push({value: element, label: options[element]});
        });
        return tempOptions;
    }
</script>
<select bind:value={selected} class="{classes}">
    <option value>- Select -</option>
	{#each selectOptions as selectOption}<option value={selectOption.value}>{selectOption.label}</option>{/each}
</select>