<script>
        import { viewModes, screens } from "../store.js";
        import ViewMode from "./ViewMode.svelte";
        function addItem() {
                var l = $viewModes.length;
                const sizes = $screens.map((v, index, arr) => {
                        return {
                                id: index,
                                screen_name: v.name,
                                screen_width: v.width,
                                enabled: false,
                                width: undefined,
                                aspect_ratio: undefined,
                        };
                });
                $viewModes[l] = {
                        id: "foo",
                        key: "foo",
                        label: "Foo",
                        sizes,
                        attributes: [],
                };
        }
</script>

<div class="form-section">
        {#each $viewModes as item}
                <ViewMode bind:viewMode={item} bind:viewModes={$viewModes} />
        {/each}
        <div class="form-row--add-more">
                <button class="btn btn-add" on:click={addItem}>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-6"
                        >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 4.5v15m7.5-7.5h-15"
                                />
                        </svg>

                        Add new RIFT view mode</button
                >
        </div>
</div>
