<script>
        import { aspect_ratios } from "../store";
import AttributesList from "./AttributesList.svelte";
    import Select from "./Select.svelte";
        export let viewModes;
        export let viewMode;
        function removeItem(id) {
                viewModes = viewModes.filter(function (value, index, arr) {
                        if (value.id != id) return value;
                });
        }
</script>

<div class="collapse collapse-arrow bg-indigo-50 mb-2">
        <input type="checkbox" checked />
        <div class="collapse-title bg-indigo-100 text-xl font-medium">
                {viewMode.label}
                <span class="text-sm font-thin">({viewMode.key})</span>
        </div>
        <div class="collapse-content">
                <div class="pt-6"></div>
                <div class="form-row">
                        <div class="form-section-title">Machine Name</div>
                        <div class="col-span-3">
                                <!-- pattern="[a-zA-Z0-9_]+" -->
                                <input
                                        type="text"
                                        class="input input-sm max-w-md input-bordered w-full"
                                        bind:value={viewMode.key}
                                />
                        </div>
                </div>
                <div class="form-row">
                        <div class="form-section-title">Label</div>
                        <div class="col-span-3">
                                <input
                                        type="text"
                                        placeholder="Type here"
                                        class="input input-sm max-w-md input-bordered w-full"
                                        bind:value={viewMode.label}
                                />
                        </div>
                </div>
                <div>
                        <div class="grid grid-cols-5 form-section-title">
                                <div>Screen</div>
                                <div>Screen Width</div>
                                <div>Enabled</div>
                                <div>Image Width</div>
                                <div>Aspect Ratio</div>
                        </div>
                        <div class="grid grid-cols-5 font-thin">
                                <div></div>
                                <div>in pixels</div>
                                <div></div>
                                <div>E.g. 220, 150, 50vw, 33.33vw.</div>
                                <div></div>
                        </div>
                        {#if viewMode.sizes.length}
                                {#each viewMode.sizes as item}
                                        <div class="grid grid-cols-5 pb-2">
                                                <div>{item.screen_name}</div>
                                                <div>{item.screen_width}</div>
                                                <input
                                                        type="checkbox"
                                                        bind:checked={item.enabled}
                                                        class="checkbox"
                                                />
                                                <!-- pattern="[\d.]+(vw)?" -->
                                                <input
                                                        type="text"
                                                        bind:value={item.width}
                                                        disabled={!item.enabled}
                                                        class="input input-sm max-w-48 input-bordered"
                                                />
                                                <select 
                                                        disabled={!item.enabled}
                                                        class="select select-bordered select-sm w-full max-w-xs"
                                                        bind:value={item.aspect_ratio}>
                                                        <option></option>
                                                        {#each $aspect_ratios as aspect_ratio}
                                                                <option value={aspect_ratio.value}>
                                                                        {aspect_ratio.value}
                                                                </option>
                                                        {/each}
                                                </select>
                                        </div>
                                {/each}
                        {/if}


                        <AttributesList bind:attributes={viewMode.attributes} />

                        <div class="form-section">
                                <div class="form-row highlight-on-interaction">
                                        <div class="form-section-title col-span-4 md:col-span-2">fallback_transform</div>
                                        <input
                                                class="input input-bordered input-sm col-span-4 md:col-span-2"
                                                type="text"
                                                bind:value={viewMode.fallback_transform}
                                        />
                                        <div></div>
                                        <div></div>
                                </div>
                        </div>

                        <div class="form-row">
                                <div class="flex flex-row-reverse col-span-4">
                                        <button
                                                class="btn btn-warning"
                                                on:click={() => removeItem(viewMode.id)}
                                        >
                                                <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        fill="none"
                                                        viewBox="0 0 24 24"
                                                        stroke-width="1.5"
                                                        stroke="currentColor"
                                                        class="size-6"
                                                        ><path
                                                                stroke-linecap="round"
                                                                stroke-linejoin="round"
                                                                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                                                        ></path></svg
                                                >
                
                                                <span class="btm-nav-label">Delete RIFT view mode</span>
                                        </button>

                                </div>
                        </div>
                </div>
        </div>
</div>
